<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_accessrecords</h1>
        <table border="3px">
            <tr>
                <th>display_accessrecords</th>
            </tr>
        {% for ao in accessrecords %}
            <tr>
                <td>{{ao.name}}</td>
                <td>{{ao.date}}</td>
                <td>{{ao.author}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
    
</body>
</html>